.connection-button {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 10px;
  padding: 2rem 6rem;
  cursor: pointer;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 2px;
  box-shadow: -1px 1px 10px 5px rgba(0, 0, 0, 0.621);
  z-index: 10;
}
