.listQ {
  background-color: black;
  color: var(--mainColor);
  font-family: var(--main-font);
  list-style-type: none;
  border-radius: 6px;
  width: 13vh;
}

.bloc {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 13vh;
  gap: 50px;

  .blocVilles {
    display: flex;
    flex-direction: column;
    align-items: center;
    #buttonV {
      background-color: black;
      color: var(--second-color);
      border-radius: 6px;
      border-color: var(--second-color);
      height: 42px;
      width: 110px;
      font-family: var(--main-font);
    }
    #buttonV:hover {
      background-color: var(--second-color);
      color: black;
    }
    .listV {
      background-color: black;
      color: var(--mainColor);
      font-family: var(--main-font);
      list-style-type: none;
      position: relative;
      border-radius: 6px;
      width: 13vh;
    }
  }
  .blocQuartiers {
    display: flex;
    flex-direction: column;
    align-items: center;
    #buttonQ {
      background-color: black;
      color: var(--second-color);
      border-radius: 6px;
      border-color: var(--second-color);
      height: 42px;
      width: 110px;
      font-family: var(--main-font);
    }
    #buttonQ:hover {
      background-color: var(--second-color);
      color: black;
    }
  }
}
