.inscription-button {
  background-color: var(--mainColor);
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 10px;
  padding: 0.5rem 1rem;
  margin-right: 0.5rem;
  cursor: pointer;
  font-size: 18px;
  font-weight: 700;
  box-shadow: -1px 1px 10px 5px rgba(0, 0, 0, 0.621);
}
