/** icon burger **/

#menu--global {
  font-family: var(--main-font);
  font-size: 1.3rem;
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
}

.menu--burgerImgOpen {
  animation: rotate-menu 1s forwards;
  cursor: pointer;
}

.menu--burgerImgClose {
  animation: rotate-menu-reverse 1s forwards;
  cursor: pointer;
}

@keyframes rotate-menu {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(90deg);
  }
}

@keyframes rotate-menu-reverse {
  0% {
    transform: rotate(90deg);
  }
  100% {
    transform: rotate(0);
  }
}

/** link position and style **/

.menu--burgerNav {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: right;
  width: 100%;
}

.menu--link {
  text-decoration: none;
  color: var(--main-color);

  &::after {
    content: "\2022";
    position: absolute;
    right: -0.5em;
    top: 0.4em;
    font-size: 1.5rem;
  }
}

.menu--compte {
  font-weight: bold;
  color: var(--second-color);
}

.menu--actualites {
  color: var(--second-color);
}

.menu--burgerNav > ul > li {
  list-style: none;
  opacity: 0;
  position: relative;
  padding: 0.7rem;
  text-decoration: none;
}

/** each link **/

.menu--burgerNav > ul > li:nth-child(1) {
  animation: fadein 2s 0.7s forwards;
  right: 32%;
  position: absolute;
  top: -4rem;
  border-radius: 1rem;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 0.2rem 0.5rem;
  text-decoration: none;
}

.menu--burgerNav > ul > li:nth-child(2) {
  animation: fadein 2s 0.6s forwards;
  right: 44%;
}

.menu--burgerNav > ul > li:nth-child(3) {
  animation: fadein 2s 0.5s forwards;
  right: 47%;
}

.menu--burgerNav > ul > li:nth-child(4) {
  animation: fadein 2s 0.4s forwards;
  right: 47%;
}

.menu--burgerNav > ul > li:nth-child(5) {
  animation: fadein 2s 0.3s forwards;
  right: 44%;
}

.menu--burgerNav > ul > li:nth-child(6) {
  animation: fadein 2s 0.2s forwards;
  right: 27%;
  position: absolute;
  top: 17rem;
}

/** animation fade **/

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/** background blur **/

#menu--content {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  backdrop-filter: blur(15px) saturate(180%);
  -webkit-backdrop-filter: blur(15px) saturate(180%);
  animation: fadein 2s forwards;
}
