.overlayModalOeuvre {
  position: absolute;
  overflow: scroll;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  .modalOeuvre {
    display: flex;
    justify-content: center;
    .modalAddOeuvre {
      width: 390px;
      color: var(--mainColor);
      position: absolute;
      z-index: 1000;
      top: calc(50% - 100px);
      display: flex;
      flex-direction: column;
      backdrop-filter: blur(3.5px);
      border-radius: 11px;
      text-align: center;
      font-size: 1.2em;
      background: linear-gradient(
        to right,
        rgb(168, 73, 0) 30%,
        rgb(0, 149, 169) 100%
      );
      padding: 3px;

      .modalAddOeuvreBackground {
        background: #000;
        border-radius: 9px;
        h2 {
          font-size: 36px;
          color: var(--fourth-color);
          text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          margin: 0;
        }
        form {
          display: flex;
          flex-direction: column;
          gap: 25px;
          align-items: center;
          margin-top: 30px;
          margin-bottom: 8px;
          .labelFile {
            font-size: 20px;
            line-height: 35px;
            letter-spacing: 0.06em;
            width: 260px;
            height: 35px;
            border-radius: 5px;
            background: rgba(255, 255, 255, 0.2);
            font-weight: 800;
          }
          #file {
            visibility: hidden;
          }

          .button {
            width: 80%;
            display: flex;
            justify-content: center;
            gap: 20px;
            button {
              width: 109px;
              height: 41px;
              border: 2px solid #000000;
              box-shadow: -2px 4px 4px rgba(0, 0, 0, 0.62);
              border-radius: 3px;
              font-size: 20px;
              color: #ffffff;
              font-weight: bold;
            }
            .buttonAddOeuvreRetour {
              background: var(--fourth-color);
            }
            .buttonAddOeuvreValidez {
              background: var(--second-color);
            }
          }
        }
        .messageFromBack {
          text-align: center;
          margin: 5px;
        }
      }
    }
  }
}
