.overlayModalAdminVille {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
}

.modalStyleModalAdminVille {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  width: 95%;

  h1 {
    margin: 0;
    color: white;
  }
  h2 {
    margin: 0;
  }
}

.adminVille {
  width: 95%;
  height: 80%;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(168, 73, 0, 0.8);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);

  .leaflet-container.leaflet-touch.leaflet-retina.leaflet-safari.leaflet-fade-anim.leaflet-grab.leaflet-touch-drag.leaflet-touch-zoom {
    display: flex;
    width: 90%;
    height: 60%;
    border-radius: 12px;
    .leaflet-popup-content {
      color: white;
      font-size: large;
    }
    .leaflet-popup-close-button {
      span {
        color: white;
        font-size: larger;
      }
    }
    .leaflet-popup-tip {
      display: none;
    }
  }

  .adminVilleQuartier {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    height: 25%;

    .form {
      height: 30%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      label {
        font-size: 1.2em;
        margin-bottom: 0.2em;
      }

      #inputAdminVille {
        width: 100%;
        height: 1.5em;
        font-size: 1.2em;
        padding: 0;
        border: 0;
        outline: none;
      }
    }
    .errormessage {
      margin: 0;
    }
    .validationVille {
      height: 50%;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;

      .buttonModalAdminVille {
        width: 100%;
        height: 1.5em;
        font-size: 1.2em;
        color: white;
        border: 2px solid black;
        border-radius: 3px;
        background-color: var(--third-color);
      }
      p {
        margin: 0;
      }
    }
  }
}
