.profilGallery--title {
  text-align: center;
  color: rgb(255, 255, 255);
  margin-top: 3rem;
  font-weight: 800;
}

.profilGallery--global {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 6rem;
  height: auto;
  margin: 2rem;
}
